<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="edit.css">
</head>
<body>
    <header>
        <h1>Editar</h1>
    </header>
    <main>
        <label for="id">ID:</label>
        <input type="number" id="id" name="id">
        <label for="sip">SIP:</label>
        <input type="text" name="sip" id="sip">
        <label for="dni">DNI:</label>
        <input type="text" name="dni" id="dni">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label for="apellido1">Apellido1:</label>
        <input type="text" name="apellido1" id="apellido1">
    </main>
    <script src="edit.js"></script>
</body>
</html>